.nosotros{
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 40px;

    background: rgba(119, 115, 115, 0.473);

    border: 2px solid #00f5ff;
    border-radius: 20px;

    box-shadow:
        0 0 20px rgba(0,245,255,.4),
        0 0 40px rgba(74,13,107,.2);
}

.nosotros h2{
    text-align: center;
    color: #1a1699;
    font-size: 45px;
    margin-bottom: 35px;
}


.nosotros p{
    color: #ffffff;
    font-size: 20px;
    line-height: 1.9;
    text-align: justify;
}

.nosotros strong{
    color: #4a0d6b;
}

.nosotros h3{
    color:#00b7ff;
    font-size:30px;
    margin-top:35px;
    margin-bottom:15px;
    border-left:4px solid #00f5ff;
    padding-left:12px;
}

.nosotros ul{
    padding-left:25px;
}

.nosotros li{
    margin-bottom:10px;
    font-size:20px;
    color:#fffbfb;
}

.nosotros:hover{
    transform: translateY(-5px);

    transition: .4s;

    box-shadow:
        0 0 25px rgba(0,245,255,.5),
        0 0 50px rgba(74,13,107,.3);
}