.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px;
}

.producto{
    width: 250px;
    padding: 20px;
    background: rgba(119, 115, 115, 0.473);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    transition: .3s;
}

.producto:hover{
    transform: translateY(-8px);
}

.producto h3{
    color: #1976d2;
    font-size: 28px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.precio{
    font-size: 30px;
    color: #2e7d32;
    font-weight: bold;
    margin-bottom: 20px;
}

.disponible{
    color: white;
    background: #28a745;
    padding: 8px;
    border-radius: 20px;
    font-weight: bold;
}

.agotado{
    color: white;
    background: #dc3545;
    padding: 8px;
    border-radius: 20px;
    font-weight: bold;
}